Extra[[:space:]]files/concept2.psd filter=lfs diff=lfs merge=lfs -text
Content/SMART-ArchVizPack01/Textures/T_Sofa01_N_Mat01.uasset filter=lfs diff=lfs merge=lfs -text
Extra[[:space:]]files/heavy_files filter=lfs diff=lfs merge=lfs -text